doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet", href="https://vjs.zencdn.net/7.4.1/video-js.css")
        title Hello world!
    body
        div(class="jumbotron")
            h1 tvbplay
            p 旨一个清爽的观看环境
            p 目前只有开心速递爱回家可供观看
        div(class="container text-nowrap")
            div(class="col-12")
                video(id="my-video" class="video-js" controls preload='auto')
                    <source src='http://sz-ctfs.ftn.qq.com/開心速遞粤语513.mp4?ver=6010&rkey=dc7c547ccc1341a1c003e39ea833ff6ab63fdd562a0f1caa5bc829922d977e8f18c360b9230b47bf63c85aac31fb4558d999bbcd95ce7288dcc74bb11f395e6d' type='video/mp4'>
                    p(class='vjs-no-js') 播放视频需要打开JavaScript.
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src="https://vjs.zencdn.net/7.4.1/video.js")
    footer
        div(class="footernavbar-fixed-bottom")
            div(class="container")
                p(class="text-center text-muted") 一切资源收集自网络，侵删
