doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        title Hello world!
    body
        div(class="jumbotron")
            h1 tvbplay
            p 旨一个清爽的观看环境
            p 目前只有开心速递爱回家可供观看
        div(class="container row text-nowrap")
            div(class="col-sm-3")
                div(class="card bg-Basic")
                    div(class="card-body")
                        h4(class="card-title") 爱回家
                        p(class="card-text") 每晚11点更新
                        a(href="aihuijia" class="card-link") 前往观看
            div(class="col-sm-3")
                div(class="card bg-secondary")
                    div(class="card-body text-red")
                        h4(class="card-title") 无其他剧集
                        p(class="card-text") nothing
                        a(href="#" class="card-link") 不能前往观看
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    footer
        div(class="footernavbar-fixed-bottom")
            div(class="container")
                p(class="text-center text-muted") 一切资源收集自网络，侵删
